
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/artifacts/
/profiles/*
!/profiles/v2/
/profiles/v2/*
!/profiles/v2/packages/
/profiles/v2/packages/*
!/profiles/v2/packages/scene.json
/native/engine/android/**/*/assets

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
